/*CSS layout for float */

* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Style the header */
  .save header {
    background-color: rgb(177, 171, 171);
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: rgb(243, 116, 116);
  }
  
  /* Create two columns/boxes that floats next to each other */
  .save nav {
    float: left;
    width: 30%;
    height: 300px; /* only for demonstration, should be removed */
    background: #ccc;
    padding: 20px;
  }
  
  /* Style the list inside the menu */
  .save nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  .save article {
    float: left;
    padding: 20px;
    width: 70%;
    background-color: #f1f1f1;
    height: 300px; /* only for demonstration, should be removed */
  }
  
  /* Clear floats after the columns */
  .save section::after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the footer */
  .save footer {
    background-color: rgb(90, 107, 155);
    padding: 10px;
    text-align: center;
    color: white;
  }
  .menu {
    float: left;
    width: 20%;
    text-align: center;
  }
  
  .menu a {
    background-color: #e5e5e5;
    padding: 8px;
    margin-top: 7px;
    display: block;
    width: 100%;
    color: black;
  }
  
  .main {
    float: left;
    width: 60%;
    padding: 0 20px;
  }
  
  .right {
    background-color: #e5e5e5;
    float: left;
    width: 20%;
    padding: 15px;
    margin-top: 7px;
    text-align: center;
  }
  
  @media only screen and (max-width: 620px) {
    /* For mobile phones: */
    .menu, .main, .right {
      width: 100%;
    }
  }
  .all-browsers {
    margin: 0;
    padding: 5px;
    background-color: lightgray;
  }
  .browser {
    background: white;
  }
  
  .browser > h2, p {
    margin: 4px;
    font-size: 90%;
  }